/*Cabezera*/
header{
z-index: 999;
}
.position-fixed{
background-color: white;
height: 5rem;
}

header nav{
align-self: center;

}

header nav > a{
margin: 0 1rem;
color: grey;
font-weight: 500;
}
 

.title img{
width: 100%;
height: auto;
width: 12%;
margin-bottom: 0.7rem;
margin-left: 0.4rem;
}

/*Main*/

main .container-fluid > img{
height: 100vh;
filter:sepia(2rem);
}

.detalls{
width: 100%;
height: 100%;
background-color:rgba(0, 0, 0, 0.3);
top: 0;
left: 0;

position:absolute;
background-position:  center center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.detalls h1{
    padding: 0.5rem;
    color:  #fca345;
    font-weight: bold;
 
}

.detalls p{
color: white;
font-weight: 300;

}


img{
width: 100%;
height: auto;
object-position: center center;
object-fit: cover;
}
.position-relative{

position: absolute;

}

a{
transition: border-bottom 1s linear ;
padding-bottom: 0.6rem;

}

.what h2{
font-weight: 300;
}


.border-s{
border-radius: 0rem 2rem 2rem 1rem;
width: 2rem;
height: 2rem;
background-color: yellow;

right: 0;
top: 0;
}


.col i{
outline-offset: 2rem;
outline-color: yellow;
outline-style: 2rem;
outline-width: 2rem;
filter: drop-shadow(2px 1px yellow);
}



@media (max-width: 576px) {




.tex{
   text-align: center;
}
.aa{
    display: none !important;
}

header div{ 
    text-align: center;
}

.row{
    gap: 1rem !important;
} 
 
.bus{
    width: 100% !important;
}
}



.d-done{
width: 5%;
height: 5%;
}

@media screen and (min-width: 0px)
and (max-width: 1224px)
{
  .peludo{
    width: 85% !important;
}

}

.peludo{
width: 50% ;
}

@media (min-width: 768px) { 


header{
    margin: 0 auto;
    width: 60%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.y{
    width: 80% !important;
}

.g{
    width: 100% !important;
}


.Promo{
    width: 80% !important;
}
}
.wifi{
margin-top: 2rem;
}
.peludo{
width: 95% ;
}

.peludo{
width: 50%;
}

@media (min-width: 992px) { 
.col1{
    text-align: right;
}


.btn_entrar{
    box-shadow:none;   
}



.wifi{
    margin-top: 0rem;
 }


.locura{
    gap: 0.7rem !important;
}

.col2{
    text-align: left;
}


@keyframes ani {
    from{
      transform: perspective(10rem) translateZ(0.0rem);
   
    } 
    to{
       transform: perspective(10rem) translateZ(0.3rem);
   
    }  
   }
     
  .hr{
      background-color:   rgb(255, 204, 0);
      
  
  }
  .Promo{
    width: 50% !important;
}
}


@media (min-width: 1200px) {  
.h{
    width: 50vw !important;
}


}



@media (min-width: 1400px) { 

.y{
    width: 50% !important;
}
}

footer .d-flex{
margin: 0 auto;
width: 50%;
justify-content: space-between;
}




.y{
color: rgb(76, 75, 75);
}
.communtion > div{
padding: 1rem 2rem; 

border-bottom: 0.2rem solid rgb(189, 189, 189) ;
border-radius: 0rem 0rem 0.2rem 0rem;
color: rgb(82, 82, 82);
transition: background-color 304ms linear, border-radius 304ms linear, border-bottom 304ms linear;
}

.communtion > div:hover{
background-color: rgb(217, 184, 38);
color: white;
cursor: pointer;
border-radius: 0.2rem;
border-bottom:0.2rem solid   rgb(188, 159, 28);
}

.d-flex > a{
text-decoration: none !important;
border: solid grey 1px !important;
align-items: center;
color: grey;
}


.pagin{

width: 100% !important;
}

.pagin div{
padding: 0rem 0rem;
}

.row{
padding: 0%;
margin: 0%;
} 

ul li{
list-style: none;
padding: 0.5rem 0rem;
}

.panel-header{
background-color: rgb(34, 34, 34);
color: white;
}

.yellow{

background-color: rgb(255, 204, 0) !important;
}


.black-g{
background-color: rgb(38, 38, 35);
transition: border 2s linear !important;
border: none;
}

.black-g:hover{
border: solid 3px rgb(255, 204, 0) !important;

}

[type="button"]{
background-image: rgb(38, 38, 35);
color: white;
padding: 0.5rem;
border-radius: 0.5rem;
font-weight: bold;
}
.amarillo{
border: solid 3px rgb(255, 204, 0);
padding: 0rem 0rem;
box-shadow: 3px 2px 7px grey;
animation:  
ani 5s ease 250ms 1 alternate both running;

background-color: white;
filter: blur(0rem);

}


.bg-warning {
--bs-bg-opacity: 1;
background-color: rgb(255, 204, 0) !important;
}

.border-negro{
border: solid 3px rgb(38, 38, 35);
padding: 0rem 0rem;
}

.detail {
font-weight: 300;


}

.detail i{ 

padding: 1.4rem;
border-radius: 0rem 3rem 3rem 3rem;
background-color: rgb(255, 204, 0);
}

.col-12 > input{
border: solid 1px grey;
height: 2.4rem;
}


textarea{
border: solid 1px grey;
}
.container--contacto{
margin: auto;
max-width: 950px;
min-width: 100px;
}


body::-webkit-scrollbar{
width: 10px;
}

body::-webkit-scrollbar-track{
background-color: rgb(216, 216, 216);
}

body::-webkit-scrollbar-thumb{
background-color: rgb(47, 47,47);
}

/*Mapa*/

#mapa{
background-color: rgba(255, 218, 70,0.2);
padding: 2rem 0rem;
}

iframe{
width: 50%;
height: 20vw;
border-radius: 2rem;
}

.i-blog{
width: 10rem;
height: auto;
}

.clear{
clear: left;
}

.clear div > a{
text-decoration: none;
margin-right: 2rem;
}

.blog-container{
width: 60%;
}

.bi-heart-fill{
transition: filter 3s linear;
}

.bi-heart-fill:hover{
outline: -4 solid yellow;
filter: drop-shadow(2px 3px yellow)
}

.blog-title h6{
transition: color 2s linear !important;
}

.blog-title h6:hover {
cursor: pointer;
color: rgb(255, 204, 0) !important;
}

.blog-title a{
color: rgb(255, 204, 0);
}

@media screen and (max-width: 768px) {
.h5-inte{
width: 85% !important ;
font-size: 1.1rem !important;
}

footer .d-flex{
  width: 76%;
}


}

@media screen and (max-width: 320px) {
.h5-inte{
width: 85% !important ;
font-size: 0.8rem !important;
}
.communtion div {
text-align: center;
}
}


.container--title{
filter:drop-shadow(0.1rem 0.1rem rgb(42, 42, 42) );

}

.title--main{
background-color: white;
padding: 0.3rem 4rem;
} 

li a{
    margin: 1.5rem;
}

/*Botones*/

.btn_orange:hover{
    color:  rgb(13,54 , 156);
    box-shadow:-0rem 0.2rem rgb(13,54 , 156);
}


.slider {
    width: 97vw;
    height: auto;
    margin: auto;
    overflow: hidden;
    position:static;
    font-weight: 500;
    color:  rgb(21,21,21);
    
    }
  
  .slide > p{
  margin-bottom: 0.4rem;
  word-break: normal;
  }
  .slider .slide-track {
  display: flex;
  animation: scroll 35s linear infinite ;  
  width: 100%;
  }
  
  .slider .slide {
  width: 100%;
  
  }
  
  .slider .slide img {
  width: 100%;
  }
  
  @keyframes scroll {
  0% {
      -webkit-transform: translateX(0);
      transform: translateX(-5%);
  }
  100% {
    transform: translateX(100%);
  }}

  .card-deck {
    width: 20rem;
    height: 20rem;
    background: #eaeaea;
    border-radius: 1rem;   
    padding: 0.5rem;
  }

  
.scroll {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: #fc7c45;
    width: 60px;
    height: 60px;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    transition: 0.2s ease-out;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: #FFF;
    border-radius: 50%;
    cursor: pointer;
    transition: all 1s ease-out;
    color: white;
}

.scroll:hover {
    color: rgb(13,54 , 156);
    cursor: pointer;
}
   

    .hidden {
        visibility: hidden;
        opacity: 0;
    }

    .contact-form {
        --form-ok-color: #4caf50;
        --form-error-color: #f44336;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
      }
  
      .contact-form>* {
        padding: 0.5rem;
        margin: 1rem auto;
        display: block;
        width: 100%;
      }
  
      .contact-form textarea {
        resize: none;
      }
  
      .contact-form legend,
      .contact-form-response {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
      }
  
      .contact-form input,
      .contact-form textarea {
        font-size: 1rem;
        font-family: sans-serif;
      }
  
      .contact-form input[type="submit"] {
        width: 50%;
        font-weight: bold;
        cursor: pointer;
      }
  
      .contact-form *::placeholder {
        color: #000;
      }
  
      .contact-form [required]:valid {
       }
  
      .contact-form [required]:invalid {
       }
  
      .contact-form-error {
        margin-top: -1rem;
        font-size: 80%;
        background-color: var(--form-error-color);
        color: #fff;
        transition: all 800ms ease;
      }
  
      .contact-form-error.is-active {
        display: block;
        animation: show-message 1s 1 normal 0s ease-out both;
      }
  
      .contact-form-loader {
        text-align: center;
      }
  
      .none {
        display: none;
      }
  
      @keyframes show-message {
        0% {
          visibility: hidden;
          opacity: 0;
        }
  
        100% {
          visibility: visible;
          opacity: 1;
        }
      }

 
      /*con -.tacto*/

      .fondo-letras{
        background-image: url(./img/letras-efecto-blanco-negro.png);
        
      }


 