body::-webkit-scrollbar{
    width: 10px;
    }
    
    body::-webkit-scrollbar-track{
    background-color: rgb(216, 216, 216);
    }
    
    body::-webkit-scrollbar-thumb{
    background-color: rgb(47, 47,47);
    }
    